<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增模板</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.v3.0.3.css" /> 
<script type="text/javascript" src="../js/jquery.v2.2.4.js"></script> 
<script type="text/javascript" src="../js/vue.min.v2.2.2.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.v1.3.1.js"></script>
<script type="text/javascript" src="../js/vue-router.v3.0.0.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="panel panel-default" id="topDiv"></div>
		<div class="row-fluid">
			<div class="col-md-2" id="navigationDiv"></div>
			<div class="col-md-10">
				<div id="DataMuduleDiv" class="row clearfix">
					<div class="col-md-2 column"></div>
					<div class="col-md-6 column">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label>模板名称</label> 
								<input type="text" class="form-control" v-model="module.moduleName"/>
							</div>
							<div class="form-group">
								<label>文件名</label> 
								<input type="text" class="form-control" v-model="module.fileName"/>
							</div>
							<div class="form-group">
								<label>文件头</label> 
								<input type="text" class="form-control" v-model="module.fileHeader"/>
							</div>
							<div class="form-group">
								<label>模板</label>
								<textarea class="form-control" rows="10" v-model="module.moduleText"></textarea>
							</div>
							<div class="col-md-6 column"></div>
							<div class="col-md-6 column" style="text-align: right">
								<button type="button" v-on:click="submitModuleData" class="btn btn-default btn-success">保存</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">

	new Vue({
	  el: '#DataMuduleDiv',
	  data: {
// 		  module:{moduleId:'',moduleName:'模板名称',moduleText:'模板内容'}
		  module:{moduleId:'',fileName:'$$2100$XXXX0',fileHeader:'A0502102.0.0  $$0$',moduleName:'模板名称',moduleText:`<Document>
							<EnAcctInf>
						<AcctBsSgmt>
							<InfRecType>a</InfRecType>
							<AcctType>b</AcctType>
							<AcctCode>c</AcctCode>
							<RptDate>2016-1-1</RptDate>
							<RptDateCode>$</RptDateCode>
							<Name>$</Name>
							<IDType>$</IDType>
							<IDNum>$</IDNum>
							<MngmtOrgCode></MngmtOrgCode>
						</AcctBsSgmt>
					</EnAcctInf>
				</Document>`}
	  },
	  methods:{
		  //提交保存新增的模板信息
		  submitModuleData:function(){
			  this.$http({
				  method:'POST',
				  url:'/GeneratorDataWeb/module/add.do',
				  body:{'moduleData':JSON.stringify(this.module)},
				  emulateJSON:true, //允许body带接送传输
					headers: {
						dataType:"json", 
						contentType:"application/json"
                	}
			  }).then(response => {
				  this.module.moduleId=response.bodyText;
				  if(!isNaN(this.module.moduleId)){
					  alert("处理成功！稍后跳转到列表页面……");
					  window.location.href="/GeneratorDataWeb/pages/main.html";
				  }else{
					  alert("处理失败！");
				  }
			  }, response => {
				  console.log("反馈出现问题！");
			  });
		  },
		  goRuleModule:function(){
			  window.location.href="/GeneratorDataWeb/pages/setModuleRule.html#/"+this.module.moduleId;
		  }
	  }
	});
</script>