<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>关联模板-规则</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.v3.0.3.css" /> 
<script type="text/javascript" src="../js/jquery.v2.2.4.js"></script> 
<script type="text/javascript" src="../js/vue.min.v2.2.2.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.v1.3.1.js"></script>
<script type="text/javascript" src="../js/vue-router.v3.0.0.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="panel panel-default" id="topDiv"></div>
		<div class="row-fluid">
			<div class="col-md-2" id="navigationDiv"></div>
			<div class="col-md-10">
				<div id="DataMuduleDiv2" class="row clearfix">
					<div class="col-md-3 column"></div>
					<div class="col-md-6 column">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label>模板名称</label>
								<input type="text" class="form-control" v-model="module.moduleName" readonly="true" />
							</div>
							<div class="form-group">
								<label>文件名</label>
								<input type="text" class="form-control" v-model="module.fileName" readonly="true" />
							</div>
							<div v-for="item in fileNameParamInitNum">
								<div class="form-group">
									<div class="col-md-3 column" class="form-group">
										<label>参数{{item.pIndex}}</label>
									</div>
									<div class="col-md-9 column" class="form-group">
										<div>
											<select v-model='fileNameRuleValue[item.pIndex]'>
												<option v-for="rule in ruleSourceList" v-bind:value="rule.ruleId">{{rule.ruleName}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
								<hr style="height: 1px; border: none; border-top: 1px solid #555555;">
							<div class="form-group">
								<label>文件头</label>
								<input type="text" class="form-control" v-model="module.fileHeader" readonly="true" />
							</div>
							<div v-for="item in fileHeaderParamInitNum">
								<div class="form-group">
									<div class="col-md-3 column" class="form-group">
										<label>参数{{item.pIndex}}</label>
									</div>
									<div class="col-md-9 column" class="form-group">
										<div>
											<select v-model='fileHeaderRuleValue[item.pIndex]'>
												<option v-for="rule in ruleSourceList" v-bind:value="rule.ruleId">{{rule.ruleName}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
								<hr style="height: 1px; border: none; border-top: 1px solid #555555;">
							<div class="form-group">
								<label>模板</label>
   								<textarea class="form-control" rows="8" v-model="module.moduleText" disabled></textarea>
							</div>
							<div v-for="item in moduleParamInitNum">
								<div class="form-group">
									<div class="col-md-3 column" class="form-group">
										<label>参数{{item.pIndex}}</label>
									</div>
									<div class="col-md-9 column" class="form-group">
										<div>
											<select v-model='moduleRuleValue[item.pIndex]'>
												<option v-for="rule in ruleSourceList" v-bind:value="rule.ruleId">{{rule.ruleName}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="col-md-6 column"></div>
								<div class="col-md-6 column" style="text-align: right">
									<button type="button" v-on:click="submitModuleRule" class="btn btn-default btn-success">保存</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-3 column"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">

//定义路由，用于调转到当前页面时，获取相应参数
const router = new VueRouter({
	routes:[{
		path:'/:muduleId'
	}]
})

new Vue({
  el: '#DataMuduleDiv2',
  //加载执行函数  mounted
  mounted() {
	  this.getModuleData();
	  this.getRuleData();
  },
  data: {
	  module:{moduleId:'',moduleName:'',moduleText:''}, //当前模板的相关内容
	  ruleSourceList:[],//缓存的参数规则列表
	  
	  moduleParamInitNum: [],//参数列表，用于设置参数个数
	  fileHeaderParamInitNum:[],
	  fileNameParamInitNum:[],
	  
	  moduleRuleValue:[],//记录选择后的规则信息
	  fileNameRuleValue:[],
	  fileHeaderRuleValue:[],
	  
	  
	  submitValue:{moduleId:'',moduleName:'',fileNameRule:[],fileHeaderRule:[],moduleRule:[]},//封装提交参数
	  pindex_1: 0, //fileName index
	  pindex_2: 0, //fileHeader index
	  pindex_3: 0, //moudule index
  },
  methods:{
// 	  根据模板中特殊字符 $ ，设置参数关联的规则，和起始index
	  initParam:function(){
		  var sourceFileName = this.module.fileName;
		  for(var i=0;i<sourceFileName.length;i++){
			  if(sourceFileName[i]=='$'){
				  this.fileNameParamInitNum.push({
			    	  'pIndex': this.pindex_1++,
				  });
				  this.fileNameRuleValue.push('');
			  }
		  }
		  
		  var sourceFileHeader = this.module.fileHeader;
		  for(var i=0;i<sourceFileHeader.length;i++){
			  if(sourceFileHeader[i]=='$'){
				  this.fileHeaderParamInitNum.push({
			    	  'pIndex': this.pindex_2++,
				  });
				  this.fileHeaderRuleValue.push('');
			  }
		  }
		  
		  var sourceModuleStr = this.module.moduleText;
		  for(var i=0;i<sourceModuleStr.length;i++){
			  if(sourceModuleStr[i]=='$'){
				  this.moduleParamInitNum.push({
			    	  'pIndex': this.pindex_3++,
			      });
				  this.moduleRuleValue.push('');
			  }
		  }
	  },
// 	 提交保存模板和规则的关联信息
	  submitModuleRule:function(){
		  this.submitValue.moduleId=this.module.moduleId;
		  this.submitValue.moduleName=this.module.moduleName;
		  this.submitValue.fileNameRule = this.fileNameRuleValue;
		  this.submitValue.fileHeaderRule = this.fileHeaderRuleValue;
		  this.submitValue.moduleRule=this.moduleRuleValue;
		  
		  console.log(this.submitValue);
		  
		  this.$http({
				method:'POST',
				url:'/GeneratorDataWeb/module/moduleRule/add.do',
				body:{'moduleRuleData':JSON.stringify(this.submitValue)},
				emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
				}
		  }).then(response => {
			  alert("处理成功！稍后跳转到列表页面……");
			  window.location.href="listGenerator.html";
		  },response => {
			  alert("处理失败！");
		  });
	  },
	//	  获取模板的内容
	  getModuleData:function(){
		  this.$http({
			  method:'GET',
			  url:'/GeneratorDataWeb/module/get/'+this.$route.params.muduleId+'.do',
			  emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
	      		}
		  }).then(response => {
			  this.module = response.body;
			  this.initParam(); //初始化参数窗口
		  },response => {
			  console.log("反馈出现问题！");
		  });
	  },
	//	  获取所有的规则信息
	  getRuleData:function(){
		  this.$http({
			  method:'GET',
			  url:'/GeneratorDataWeb/rule/getAll.do',
			  emulateJSON:true, //允许body带接送传输
				headers: {
					dataType:"json", 
					contentType:"application/json"
	    		}
		  }).then(response => {
			  this.ruleSourceList = response.body;
		  },response => {
			  console.log("反馈出现问题！");
		  })
	  },
  },
  router
})
</script>