<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.performance.dao.TblModuleRuleMapper" >
  <resultMap id="BaseResultMap" type="com.performance.model.TblModuleRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="generator_key" property="generatorKey" jdbcType="INTEGER" />
    <result column="module_key" property="moduleKey" jdbcType="INTEGER" />
    <result column="module_name" property="moduleName" jdbcType="VARCHAR" />
    <result column="param_type" property="paramType" jdbcType="INTEGER" />
    <result column="param_index" property="paramIndex" jdbcType="INTEGER" />
    <result column="rule_key" property="ruleKey" jdbcType="INTEGER" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="start_index" property="startIndex" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, generator_key, module_key, module_name, param_type, param_index, rule_key, rule_name, 
    start_index, flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.performance.model.TblModuleRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_module_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_module_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_module_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.performance.model.TblModuleRuleExample" >
    delete from t_module_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.performance.model.TblModuleRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_module_rule (generator_key, module_key, module_name, 
      param_type, param_index, rule_key, 
      rule_name, start_index, flag
      )
    values (#{generatorKey,jdbcType=INTEGER}, #{moduleKey,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, 
      #{paramType,jdbcType=INTEGER}, #{paramIndex,jdbcType=INTEGER}, #{ruleKey,jdbcType=INTEGER}, 
      #{ruleName,jdbcType=VARCHAR}, #{startIndex,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.performance.model.TblModuleRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_module_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="generatorKey != null" >
        generator_key,
      </if>
      <if test="moduleKey != null" >
        module_key,
      </if>
      <if test="moduleName != null" >
        module_name,
      </if>
      <if test="paramType != null" >
        param_type,
      </if>
      <if test="paramIndex != null" >
        param_index,
      </if>
      <if test="ruleKey != null" >
        rule_key,
      </if>
      <if test="ruleName != null" >
        rule_name,
      </if>
      <if test="startIndex != null" >
        start_index,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="generatorKey != null" >
        #{generatorKey,jdbcType=INTEGER},
      </if>
      <if test="moduleKey != null" >
        #{moduleKey,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        #{paramType,jdbcType=INTEGER},
      </if>
      <if test="paramIndex != null" >
        #{paramIndex,jdbcType=INTEGER},
      </if>
      <if test="ruleKey != null" >
        #{ruleKey,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="startIndex != null" >
        #{startIndex,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.performance.model.TblModuleRuleExample" resultType="java.lang.Integer" >
    select count(*) from t_module_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_module_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.generatorKey != null" >
        generator_key = #{record.generatorKey,jdbcType=INTEGER},
      </if>
      <if test="record.moduleKey != null" >
        module_key = #{record.moduleKey,jdbcType=INTEGER},
      </if>
      <if test="record.moduleName != null" >
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramType != null" >
        param_type = #{record.paramType,jdbcType=INTEGER},
      </if>
      <if test="record.paramIndex != null" >
        param_index = #{record.paramIndex,jdbcType=INTEGER},
      </if>
      <if test="record.ruleKey != null" >
        rule_key = #{record.ruleKey,jdbcType=INTEGER},
      </if>
      <if test="record.ruleName != null" >
        rule_name = #{record.ruleName,jdbcType=VARCHAR},
      </if>
      <if test="record.startIndex != null" >
        start_index = #{record.startIndex,jdbcType=INTEGER},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_module_rule
    set id = #{record.id,jdbcType=INTEGER},
      generator_key = #{record.generatorKey,jdbcType=INTEGER},
      module_key = #{record.moduleKey,jdbcType=INTEGER},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      param_type = #{record.paramType,jdbcType=INTEGER},
      param_index = #{record.paramIndex,jdbcType=INTEGER},
      rule_key = #{record.ruleKey,jdbcType=INTEGER},
      rule_name = #{record.ruleName,jdbcType=VARCHAR},
      start_index = #{record.startIndex,jdbcType=INTEGER},
      flag = #{record.flag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.performance.model.TblModuleRule" >
    update t_module_rule
    <set >
      <if test="generatorKey != null" >
        generator_key = #{generatorKey,jdbcType=INTEGER},
      </if>
      <if test="moduleKey != null" >
        module_key = #{moduleKey,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null" >
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null" >
        param_type = #{paramType,jdbcType=INTEGER},
      </if>
      <if test="paramIndex != null" >
        param_index = #{paramIndex,jdbcType=INTEGER},
      </if>
      <if test="ruleKey != null" >
        rule_key = #{ruleKey,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null" >
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="startIndex != null" >
        start_index = #{startIndex,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.performance.model.TblModuleRule" >
    update t_module_rule
    set generator_key = #{generatorKey,jdbcType=INTEGER},
      module_key = #{moduleKey,jdbcType=INTEGER},
      module_name = #{moduleName,jdbcType=VARCHAR},
      param_type = #{paramType,jdbcType=INTEGER},
      param_index = #{paramIndex,jdbcType=INTEGER},
      rule_key = #{ruleKey,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      start_index = #{startIndex,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>